body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-banner {
  /* background-image:  url("/src/Images/Main-Pic-1-Resized.png"); */
  max-width: 100%;
  height: auto;
  width: auto;
  margin:auto;
  display:block
}

.cat-nav {
  margin-top: 0;
  margin-bottom: 0;
}

#center {
  text-align: center
}
.navbar-brand0 {
  text-indent: 5px;
  font-family: "Georgia", Times New Roman, Times;
  font-weight: bold;
  font-size: 25px;
  color:white;

  
}
.search-form{
  font-family: "Georgia", Times New Roman, Times;
  text-indent: 15px;
  font-size: 15px;
}
.nav-item1{
  font-family: "Georgia", Times New Roman, Times;
  font-size:13px;
  color:white;
  text-align:left;


}
.navbar-brand2 {
  font-family: "Georgia", Times New Roman, Times;
  text-align: center;
  padding: 25px;
  font-size: 16px;
  color:black;
}

.navbar-Admin {
  font-family: "Georgia", Times New Roman, Times;
  text-align: center;
  padding: 25px;
  font-size: 30px;
  color:black;
}


nav a{
  text-decoration:none;
}

.hero {
	background-image:  url("/src/Images/flowers.png");
  background-position: center;
	background-size: cover;
	color: #120f0f;
	padding: 1.5em;
  font-family: Marker Felt, fantasy;
	text-align: left;
  font-size: 75px;
  text-shadow: -3px -3px 0 white;
}
.card-main {
  color: #120f0f;
	padding: 1.5em;
  font-family: "Georgia", Times New Roman, Times;
	text-align: left;
  font-size: 20px;
  text-shadow: -3px -3px 0 white;
  text-decoration:none;


}
.card-main a {
  text-decoration:none;
  color:black;
}
 .input-group1 {
   width: 50%;
 
 }

 .mainPageImage {
   width: auto;
   height: 10em;
 }
  
